*{
    margin: 0px;
}
.Section-1{
    background-color:rgb(90, 20, 255);
    width: 100vw;
    display: flex;
    justify-content: center;
}
.header{
    background-color: brown;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.name1{
    font-size: 22px;
    font-family: poppins;
    font-style: italic;
}
.name2{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-style: italic;
}
.search{
    width: 500px;
    height: 35px;
    border: none;
    border-radius: 2px;
}
.login{
    color:rgb(90, 20, 255) ;
    font-weight: bolder;
    width: 120px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 2px;
}